
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.parallax-container {
    height: 170px;
    padding: 0px;
    margin: 0px;
}

#headshot {
    width: 150px;
    height: 177px;
}

h2 {
    color: #d59f4f;
}